#####################################################
#
# List of approvers for OpenTelemetry Collector
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @ArthurSens

# List all maintainers individually so all of them are notified
.github/CODEOWNERS      @ArthurSens
docs/rfc                @ArthurSens

confmap/                        @ArthurSens
exporter/debugexporter          @ArthurSens
exporter/exporterhelper         @ArthurSens
exporter/nopexporter            @ArthurSens
pdata/                          @ArthurSens
receiver/nopreceiver            @ArthurSens
service/internal/graph          @ArthurSens
extension/xextension            @ArthurSens

# Profiling-related modules
pdata/pprofile                          @ArthurSens
consumer/xconsumer                      @ArthurSens
connector/xconnector                    @ArthurSens
exporter/exporterhelper/xexporterhelper @ArthurSens
exporter/xexporter                      @ArthurSens
processor/xprocessor                    @ArthurSens
receiver/xreceiver                      @ArthurSens
